Repository streamnative/pulsarctl, pull requests merged in 2019-12, with the labels that each got.

#147 Update release process doc
  docs/en/release_process.md
Labels: area/documentation

#149 Support create key pair command
  .github/workflows/token.yml
  pkg/ctl/token/create_key_pair.go
  pkg/ctl/token/create_key_pair_test.go
  pkg/ctl/token/test_help.go
  pkg/ctl/token/token.go
  pkg/pulsar/admin.go
  pkg/pulsar/common/algorithm/algorithm/algorithm.go
  pkg/pulsar/common/algorithm/algorithm/algorithm_test.go
  pkg/pulsar/common/algorithm/ecdsa/es256.go
  pkg/pulsar/common/algorithm/ecdsa/es384.go
  pkg/pulsar/common/algorithm/ecdsa/es512.go
  pkg/pulsar/common/algorithm/keypair/keypair.go
  pkg/pulsar/common/algorithm/rsa/rs256.go
  pkg/pulsar/common/algorithm/rsa/rs384.go
  pkg/pulsar/common/algorithm/rsa/rs512.go
  pkg/pulsar/token.go
  pkg/pulsarctl.go
  site/gen-pulsarctldocs/generators/v1_1/toc.yaml
Labels: area/pulsar/auth, type/task

#150 Support create token command
  go.mod
  go.sum
  pkg/ctl/token/create.go
  pkg/ctl/token/create_test.go
  pkg/ctl/token/token.go
  pkg/pulsar/common/algorithm/algorithm/algorithm.go
  pkg/pulsar/common/algorithm/ecdsa/es384.go
  pkg/pulsar/common/algorithm/ecdsa/es512.go
  pkg/pulsar/common/algorithm/keypair/keypair.go
  pkg/pulsar/token.go
  test/key/pulsar-admin-es256-private.key
  test/key/pulsar-admin-es256-public.key
  test/key/pulsar-admin-es384-private.key
  test/key/pulsar-admin-es384-public.key
  test/key/pulsar-admin-es512-private.key
  test/key/pulsar-admin-es512-public.key
  test/key/pulsar-admin-hs256-base64-secret.key
  test/key/pulsar-admin-hs256-secret.key
  test/key/pulsar-admin-hs384-base64-secret.key
  test/key/pulsar-admin-hs384-secret.key
  test/key/pulsar-admin-hs512-base64-secret.key
  test/key/pulsar-admin-hs512-secret.key
  test/key/pulsar-admin-rs256-private.key
  test/key/pulsar-admin-rs256-public.key
  test/key/pulsar-admin-rs384-private.key
  test/key/pulsar-admin-rs384-public.key
  test/key/pulsar-admin-rs512-private.key
  test/key/pulsar-admin-rs512-public.key
  test/key/pulsarctl-es256-private.key
  test/key/pulsarctl-es256-public.key
  test/key/pulsarctl-es384-private.key
  test/key/pulsarctl-es384-public.key
  test/key/pulsarctl-es512-private.key
  test/key/pulsarctl-es512-public.key
  test/key/pulsarctl-hs256-base64-secret.key
  test/key/pulsarctl-hs256-secret.key
  test/key/pulsarctl-hs384-base64-secret.key
  test/key/pulsarctl-hs384-secret.key
  test/key/pulsarctl-hs512-base64-secret.key
  test/key/pulsarctl-hs512-secret.key
  test/key/pulsarctl-rs256-private.key
  test/key/pulsarctl-rs256-public.key
  test/key/pulsarctl-rs384-private.key
  test/key/pulsarctl-rs384-public.key
  test/key/pulsarctl-rs512-private.key
  test/key/pulsarctl-rs512-public.key
Labels: area/pulsar/auth, type/task

#151 Support validate token command
  pkg/ctl/token/token.go
  pkg/ctl/token/validate.go
  pkg/ctl/token/validate_test.go
  pkg/pulsar/common/algorithm/keypair/keypair.go
  pkg/pulsar/token.go
  test/key/pulsarctl-es256-private.key
  test/key/pulsarctl-es256-public.key
  test/key/pulsarctl-es384-private.key
  test/key/pulsarctl-es384-public.key
  test/key/pulsarctl-es512-private.key
  test/key/pulsarctl-es512-public.key
  test/key/pulsarctl-rs256-private.key
  test/key/pulsarctl-rs256-public.key
  test/key/pulsarctl-rs384-private.key
  test/key/pulsarctl-rs384-public.key
  test/key/pulsarctl-rs512-private.key
  test/key/pulsarctl-rs512-public.key
Labels: area/pulsar/auth, type/task

#152 Support show a token content
  pkg/ctl/token/show.go
  pkg/ctl/token/show_test.go
  pkg/ctl/token/token.go
  pkg/pulsar/token.go
Labels: area/pulsar/auth, type/task, workflow::in-review

#153 [BK-SUPPORT] Enable BookKeeper CI
  .github/workflows/bookkeeper.yml
  .github/workflows/go.yml
  test/docker/docker-compose.yml
  test/script/check.sh
Labels: area/bookies, area/ci, workflow::in-review

#155 Fixes error handle for bookKeeper error message
  pkg/cli/client.go
  pkg/cli/errors.go
  pkg/cmdutils/cmdutils.go
  pkg/ctl/namespace/upload_test.go
  pkg/ctl/sources/get_test.go
  pkg/ctl/topic/internal.go
  pkg/ctl/topic/internal_test.go
  pkg/pulsar/common/errors.go
Labels: area/bookies, type/bug, workflow::in-progress

#157 Fixes unexpected error when request using pulsar 2.4.2 proxy
  pkg/cli/client.go
Labels: type/bug, workflow::in-review

#158 Add zsh and bash auto completion docs
  README.md
  docs/en/enable_completion.md
  pkg/ctl/completion/completion.go
Labels: area/documentation, workflow::in-review
